<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="Debug" value="False"/>
    <add key="Version" value=""/>
    <!-- Datafile and ServiceUrl copied from other projects, currently unused  -->
    <add key="Datafile" value="c:\temp\loadaverage.txt"/>
    <add key="DataFileRetryInterval" value="250"/>	
<!--
    The "ServiceUrl" setting overrides the "ServiceUrlTemplate" and hub processing.
	to suppress this behavior, comment the setting or clear the value 
-->
 
    <add key="ServiceUrl" value="http://localhost:8080/resources/static/page.html"/>
    <add key="ServiceUrlTemplate" value="http://{0}:4444/grid/console/"/>

  </appSettings>
</configuration>
