<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.3" targetFramework="net462" />
  <package id="Google_GenerativeAI" version="3.4.1" targetFramework="net462" />
  <!-- NOTE: ignore nuger errors and download and expand packages manually  -->
</packages>
