<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="Debug" value="False"/>
    <add key="Version" value=""/>
<!--
    "ServiceUrl" setting overrides the "ServiceUrlTemplate" and hub processing.
	to suppress this behavior, comment the setting or clear the value 
--> 
  	<!--
	// Selenium 4.x
	// parser.ServiceUrl = "http://localhost:4444/status";
	// Selenium 3.9.1 - wrong JSON schem
	// parser.ServiceUrl = "http://localhost:4444/status?version=3";
	// Selenium 3.x (Ancient Legacy) - status page is not JSON 
	// parser.ServiceUrl = "http://localhost:8080//resources/static/page.html";
	// NOTE: in this layout one cannot perform call parser.Start() 

 -->
    <add key="ServiceUrl" value=""/>
    <add key="ServiceUrlTemplate" value="http://{0}:4444/status/"/>
  </appSettings>
</configuration>
