<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Debug" value="False"/>
    <add key="Noop" value="False"/>
    <add key="Autorun" value="False"/>
  	<add key="Retries" value="5"/>
    <add key="CollectInterval" value="1000"/>
    <add key="AutoAverageInterval" value="120000"/>
    <add key="Datafile" value="c:\temp\loadaverage.txt"/>
    <add key="DataFileRetryInterval" value="250"/>
    <add key="EventLogName" value="LoadAverageCounterServiceLog"/>
    <add key="EventLogSource" value="LoadAverageCounterService"/>
  </appSettings>
</configuration>
