<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- see spec: https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->
  <config>
    <add key="globalPackagesFolder" value="./packages"/>
  </config>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="EnterpriseCustomKey" value="https://enterprise.repository.net/nuget-proxy/index.json"/>
    <add key="LocalPackages" value="D:\LocalNuGetFeeds"/>
  </packageSources>
  <packageSourceCredentials>
    <EnterpriseCustomKey>
      <add key="Username" value="%NUGET_USER%"/>
      <!-- Also often rely on integrated NTLM Negotate auth -->
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%"/>
    </EnterpriseCustomKey>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="EnterpriseCustomKey">
      <package pattern="EnterprisePackagePrefix.*"/>
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>
