<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NPOI" version="2.5.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net45" />
	<!-- NOTE: with PdfPig specifically, WARNING: The request was aborted: Could not create SSL/TLS secure channel. Unable to find version '0.1.7' of package 'PdfPig'. -->
  <package id="PdfPig" version="0.1.7" targetFramework="net45" />
</packages>
