<?xml version="1.0" encoding="utf-8"?>
<!-- https://learn.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/configsections-element-for-configuration -->
<configuration>
  <configSections>
    <section name="customSettings" type="Utils.CustomSettingsSection, Utils"/>
  </configSections>
  <customSettings>
    <add name="Types">*.pdf;*.epub;*.mobi</add>
  </customSettings>
  <appSettings>
    <add key="Debug" value="False"/>
    <add key="Rounds" value="1000"/>
    <add key="CollectInterval" value="1000"/>
    <add key="AverageInterval" value="30000"/>
    <add key="Datafile" value="${temp}\loadaverage.csv"/>
    <add key="CounterName" value="Available Bytes"/>
    <add key="CategoryName" value="Memory"/>
    <add key="InstanceName" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
